*{
    padding: 0;
    margin: 0;
}

.message__field{
    margin: 0 auto;
    width: 800px;
    height: 800px;
    background-color: rgb(182, 254, 249);
}
.input-field{
    margin: 0 auto;
    width: 800px;
   
    background-color: blue;
}